button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: 1px solid transparent;
    background-color: green;
    color: white;
    
}

.dom {
    display: flex;
    align-items: center;
    flex-direction: column;
}

img {
    margin-left: 2%;
    
}